{% extends 'base.html.twig' %}

{% block title %}Association{% endblock %}

{% block body %}
    <section class="association_section">
        <h1 class="association_h1"><i class="fa fa-star" aria-hidden="true"></i> Présentation de l'association <i class="fa fa-star" aria-hidden="true"></i></h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline9">

                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-home"></i></span></div>
                                    <div class="association_content">
                                        <span class="association_header">QUI SOMMES NOUS ?</span>
                                        <h4 class="association_title">Présentation</h4>
                                        <p class="association_description text-justify">
                                            L’association ELBAJA BOXING ACADEMY DE TOURS DES FONTAINES a été créée  en 2000 dans l’objectif de promouvoir le sport, en particulier la boxe, au sein du quartier des Fontaines dans l’esprit du «vivre ensemble ».
                                            Notre structure est reconnue et lauréate en 2010, par le pôle de ressources nationales et le ministère des sports, grâce aux actions sociales de mixité menées au sein de notre association.
                                            Dans chaque secteur de notre association, nous favorisons l’esprit de mixité, que ce soit au sein du conseil d’administration, de notre bureau, des cadres techniques ou encore des responsables de projets par exemple.
                                        </p>
                                        <div class="association_icon"><span></span></div>
                                    </div>
                                </div>
                            </div>

                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-child"></i></span></div>
                                <div class="association_content">
                                    <span class="association_header">FORMER</span>
                                    <h4 class="association_title">Insertion</h4>
                                    <p class="association_description text-justify">
                                        Notre association est une association sportive, mais elle a pour but de véhiculer et transmettre de nombreuses valeurs , à travers de nombreux projets mis en placé au sein dé notre structuré.
                                        L’association participe a l’insertion et la formation des jeunes pour l’encadrement, mais aussi de nos jeunes sportifs de haut niveau ,
                                        pour les accompagner dans la construction de leur carrière futur. Depuis sa création, l’association compte 8 titres de Champion de France, 1 titre de Champion du monde, plusieurs titres départementaux et régionaux ont été remportés.
                                        Toutes les actions menées sont réalisables grâce au soutien financier du Conseil départemental, et la municipalité de Tours.
                                    </p>
                                    <div class="association_icon"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-handshake-o"></i></span></div>
                                <div class="association_content">
                                    <span class="association_header">PARTAGER</span>
                                    <h4 class="association_title">Projet Web radio et soutien scolaire</h4>
                                    <p class="association_description text-justify">
                                        L’association a porté de nombreux projets, qui sont réalisés avec l’aide des jeunes services civiques accueillis dans notre structure, et qui ont notamment pour projet la création et le développement d'une chaîne Youtube lors de cette saison 2019/2020. Cela permettrait un développement de l’association ainsi que la vie du quartier. De plus, un soutien scolaire a été mis en place pour les jeunes membres du club par ces mêmes volontaires en service civique depuis le mois d'octobre.
                                    </p>
                                    <div class="association_icon"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-heart"></i></span></div>
                                <div class="association_content">
                                    <span class="association_header">RASSEMBLER</span>
                                    <h4 class="association_title">Fontaines en fête</h4>
                                    <p class="association_description text-justify">
                                        L’association Elbaja Boxing Academy est à l’initiative de cette action citoyenne pour un meilleur vivre ensemble.
                                        Cette journée  festive est animée par les différentes associations du quartier : l’association Pétanque Fontaines, Couture Fontaines, Basket Fontaines, l’association des habitants des Fontaines, le comité de quartier et la Elbaja Boxing Academy.
                                        L’objectif de cette journée  est de pérenniser le travail de redynamisation du quartier, en favorisant l’inter-génération et un meilleur vivre ensemble au sein du quartier. Cette journée  permet de découvrir les nouvelles structures mais aussi les associations déjà présentes dans le quartier. Des animations et des initiations sportives sont proposées par les associations au cours de cette journée qui se termine par la mise en place d’un concert pour tous. DATE PREVUE EN AVRIL 2020.
                                    </p>
                                    <div class="association_icon"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-trophy"></i></span></div>
                                <div class="association_content">
                                    <span class="association_header">SE DEPASSER</span>
                                    <h4 class="association_title">Gala et compétitions interclubs</h4>
                                    <p class="association_description text-justify">
                                        Tous les ans, depuis 2004 nous organisons notre gala annuel Les Princes du Ring, où des boxeurs d’envergure internationale et mondiale s’affrontent. Le soin apporté aux sportifs et aux visiteurs font des Princes du Ring, un événement attendu et apprécié dans toute l’Agglomération.
                                        L’une des priorités de notre gala est de donner la possibilité aux jeunes boxeurs dé l’agglomération de pouvoir s’exprimer lors d’affrontements de niveau international.
                                        Durant la saison sportive l’association organise aussi des rencontres pour les jeunes de notre académie avec différents clubs de la région.
                                        Organisation des championnats départementaux de boxe éducative le 8 décembre 2019.
                                        Gala international multiboxe « Les princes du Ring » le 14 décembre 2019.
                                        Sport'ouvertes : Septembre 2020.
                                    </p>
                                    <div class="association_icon"><span></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="timeline-content">
                                <div class="circle"><span><i class="fa fa-users"></i></span></div>
                                <div class="association_content">
                                    <span class="association_header">RE-INSERER</span>
                                    <h4 class="association_title">Intervention en milieu carcéral</h4>
                                    <p class="association_description text-justify">
                                        En plus des différentes actions menées au sein du quartier et plus largement au sein de la ville, le club intervient, par le biais d'un de ses cadres techniques, à la Maison d'arrêt de Tours, afin de dispenser une fois par semaine un cour de boxe anglaise aux personnes en détention. Ces interventions sont un premier pas pour favoriser la réinsertion des personnes détenues par le biais du sport, et le goût de l'effort.
                                        Initiations occasionnelles avec les associations locales :
                                        Exemple : TVB, TFC (hommes/femmes), etc.
                                    </p>
                                    <div class="association_icon"><span></span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
