{% extends 'base.html.twig' %}

{% block title %}New member's Poster{% endblock %}

{% block body %}
    <section class="poster_page_new text-white">
        <div class="poster_show_container container">
            <h1 class="poster_page_new_title">Ajouter une image au membre</h1>

            {{ include('poster/_form.html.twig') }}

            <a class="btn btn-light" href="{{ path('home_index') }}">Revenir à l'accueil</a>

        </div>
    </section>

{% endblock %}
