<section class="partner_page_form text-white">
<div class="partner_form">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('Ajouter une image') }}</button>
    {{ form_end(form) }}
</div>
</section>
