//GREEN LOGO ASSOCIATION
$primary-color: #18f20b;

//BLACK LOGO ASSOCIATION
$secondary-color : #000000;

//FONTS

@font-face {
    font-family:"Graduate";
    src: url('../fonts/Graduate-Regular.ttf') format('truetype');
}
