/*---------------------
       Register
-----------------------*/

.register_section {
    font-family:"Graduate";
    background: $secondary-color;
    padding : 5em;
    color : $primary-color;
}

.alert {
    font-family:"Graduate";
    padding : 3em;
}


