{% extends 'base.html.twig' %}

{% block title %}Presse{% endblock %}

{% block body %}
<section class="press_section">
        <section class="services">
            <div class="container-fluid">

                    <div class="press_title">
                        <h1 class="press_h1"><span>ON PARLE DE NOUS</span></h1>
                        <h2 class="press_h2">SUIVEZ-NOUS SUR LES DIFFERENTS MEDIAS</h2>
                    </div>

                <div class="press_row">
                    <div class="row justify-content-center">
                            <div class="col-md-9 box-a">
                                <a class="press_social d-flex justify-content-right" target="_blank" href="https://www.youtube.com/channel/UC8BYWGGl1uQYoWxu66REMIw/featured"><i class="fa fa-youtube-play faa-horizontal animated fa-1x"></i></a>
                                <h3 class="press_h3">El Baja Boxing Academy TV</h3>
                                <p>Retrouvez les dernières vidéos de l'association sur YOUTUBE</p>
                            </div>
                        </div>

                <div class="row justify-content-center">
                    <div class="col-md-9 box-a">
                        <a class="press_social d-flex justify-content-right" target="_blank" href="https://www.youtube.com/results?search_query=les+princes+du+ring+tours"><i class="fa fa-youtube-play faa-horizontal animated fa-1x"></i></a>
                        <h3 class="press_h3">Les Princes du Ring</h3>
                        <p>Retrouvez les dernières vidéos des Princes du Ring sur YOUTUBE</p>
                    </div>
                </div>

                    <div class="row justify-content-center">
                        <div class="col-md-9 box-a">
                            <a class="press_social d-flex justify-content-right" target="_blank" href="https://www.youtube.com/channel/UCmZSLH1or_-9GGf8qZIRqLw/featured"><i class="fa fa-youtube-play faa-horizontal animated fa-1x"></i></a>
                            <h3 class="press_h3">Boxing Mag TV</h3>
                            <p>Retrouvez l'actualité de la boxe sur YOUTUBE</p>
                        </div>
                    </div>

                <div class="row justify-content-center">
                    <div class="col-md-9 box-a">
                        <a class="press_social d-flex justify-content-right" target="_blank" href="https://www.lanouvellerepublique.fr/recherche?query=elbaja%20boxing%20academy"><i class="fa fa-newspaper-o faa-horizontal animated fa-1x"></i></a>
                        <h3 class="press_h3">La Nouvelle République</h3>
                        <p>Retrouvez les derniers articles de La Nouvelle République sur l'association</p>
                    </div>
                </div>

            </div>
           </div>
        </section>
</section>
{% endblock %}
