{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}
<section class="activity">
    <h1 class="activity_h1">Le planning des cours</h1>
    <div class="cards-list">

        <div class="activity_card card">
            <div class="activity_card_image card_image">
                <img src="{{ asset('build/activity/giphy2.gif') }}" alt="boxeur_1" />
            </div>
        </div>

        <div class="activity_card card">
            <div class="activity_card_image card_image">
                <h2 class="activity_h2">LUNDI</h2>
                <p></p>
                <p>ACCES LIBRE 10H-12H</p>
                <p>SPORT SENIOR 10H-12H</p>
                <p>ACCES LIBRE 15H-18H</p>
                <p>REMISE EN FORME (femme) 18H-19H</p>
                <p>FITNESS BOXE 19H-20H</p>
                <p>LADY BOXING (femme) 19H-20H</p>
                <p>KICKBOXING (K1) 20H-22H</p>
            </div>
        </div>

        <div class="activity_card card">
            <div class="activity_card_image card_image">
                <h2 class="activity_h2">MARDI</h2>
                <p></p>
                <p>ACCES LIBRE 10H-12H</p>
                <p>SPORT SENIOR 10H-12H</p>
                <p>ACCES LIBRE 15H-18H</p>
                <p>BOXE EDUCATIVE (+10 ans) 18H-20H</p>
                <p>B. ANGLAISE (adulte) 20H-22H</p>
            </div>
        </div>

        <div class="activity_card card">
            <div class="activity_card_image card_image">
                <h2 class="activity_h2">MERCREDI</h2>
                <p></p>
                <p>ACCES LIBRE 10H-12H</p>
                <p>SPORT SENIOR 10H-12H</p>
                <p>BABY BOXE (4-9 ans) 14H-16H</p>
                <p>ACCES LIBRE 15H-18H</p>
                <p>MMA 18H-20H</p>
                <p>KICKBOXING (K1) 20H-22H</p>
            </div>
        </div>

        <div class="activity_card card">
            <div class="activity_card_image card_image">
                <img src="{{ asset('build/activity/giphy1.gif') }}" alt="boxeur_2" />
            </div>
        </div>

        <div class="activity_card card">
            <div class="activity_card_image card_image">
                <h2 class="activity_h2">JEUDI</h2>
                <p></p>
                <p>ACCES LIBRE 10H-12H</p>
                <p>SPORT SENIOR 10H-12H</p>
                <p>ACCES LIBRE 15H-18H</p>
                <p>REMISE EN FORME (femme) 18H-19H</p>
                <p>BOXE EDUCATIVE (+10 ans) 18H-20H</p>
                <p>FITNESS BOXE 19H-20H</p>
                <p>B. ANGLAISE (adulte) 20H-22H</p>
            </div>
        </div>

        <div class="activity_card card">
            <div class="activity_card_image card_image">
                <h2 class="activity_h2">VENDREDI</h2>
                <p></p>
                <p>ACCES LIBRE 10H-12H</p>
                <p>SPORT SENIOR 10H-12H</p>
                <p>ACCES LIBRE 15H-18H</p>
                <p>B. ANGLAISE (adulte) 18H-20H</p>
                <p>LADY BOXING (femme) 19H-20H</p>
                <p>MMA 20H-22H</p>
            </div>
        </div>

        <div class="activity_card card">
            <div class="activity_card_join card_image">
                <h3 class="activity_h3">N'ATTENDEZ-PLUS</h3>
                <h3 class="activity_h3">REJOIGNEZ-NOUS !</h3>
            </div>
        </div>

    </div>
</section>
{% endblock %}
