{% extends 'base.html.twig' %}

{% block body %}
    <section class="error_web">
        <div class="error_title">Erreur !</div>
            <div class="error_circles">
                <h1 class="error_code">404</h1>
                <h2 class="error_text">CETTE PAGE N'EXISTE PAS</h2>
                <span class="error_circle_big"></span>
                <span class="error_circle_med"></span>
                <span class="error_circle_small"></span>
            </div>
    </section>
{% endblock %}


