{% extends 'base.html.twig' %}

{% block body %}
    <section class="error">
        <div class="error_title">Erreur !</div>
        <div class="error_circles">
            <p class="error_code">403</p>
            <p class="error_text">ACCES NON AUTORISE</p>
            <span class="error_circle_big"></span>
            <span class="error_circle_med"></span>
            <span class="error_circle_small"></span>
        </div>
        </div>
    </section>
{% endblock %}
